*{
  font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 800px;
    background-color: royalblue;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
}
h1 {
    margin-top: 20px;
    margin-bottom: 0px;
}
img.octocat{
    height: 200px;
}
.row {
   display: flex;
   justify-content: space-between;
   background-color: skyblue;
   margin: 20px;
   padding: 20px;
}
.pink {
    background-color: pink;
    justify-content: center;
}
.blue {
    background-color: blue;
}


